{% extends 'base.html' %}

{% block title %}Password Change Done{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href = "{% url 'password_change' %}">Password change</a></li>
  <li class="breadcrumb-item active">Succes</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    Your password has been changed <strong>successfully</strong>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}
